*{
    box-sizing: border-box;
}

/* Colors */
:root {
    --main:rgb(114, 172, 206);
    --sub: rgb(122, 231, 231);
    --background: rgb(74, 113, 145); 
    --white :white;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--main);
    background-color: var(--white);
    line-height: 1.5;
}


h1,
h2,
h3{
    margin: 0;
}

p{
    margin: 0;
}

header{
    padding: 20px;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
}

header h1{
    color: var(--white);
    background-color: var(--sub);
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 3vw;
    line-height: 1;
}
header nav{
    padding-top: 15px;
    margin-right: 20px;
    display:flex;
    justify-content:flex-end;
    font-size: 20px;
    font-family: inherit;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    margin-left: 25px;
}
a{
    color: var(--white);
}
/* banner  */
.banner {
    min-height: 30vh;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/pexels-photo-370799.jpeg"), linear-gradient(180deg, var(--sub) 0%, var(--main) 100%);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

section  div h2{
    color:var(--white); 
    margin: 0 40px 20px 0; 
    font-size: 28px;
    background-color: rgb(130, 238, 144);
}


.main{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}


/* Left Column */
.section-one{
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.section-one > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--main);
    font-size: 4vw;
    line-height: 1.2;
}

.section-one > div{
    flex: 0 0 77%;
}

.section-one p {
    flex: 0 0 77%;
}
.flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* pictures with links in the Work section */
.image{
    border: 5px solid var(--sub);
    background-color: var(--main);
    color: var(--background);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 14px;
}

/* the First image in the section */
.image:first-child {
    flex-basis: 100%;
    min-height: 800px;
}

.image:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.image div{
    background-color: var(--sub);
    padding: 8px 10px;
}

.image h3{
    font-size: 24px;
}

.contact div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.contact div a{
    color: var(--background);
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    margin:  0 3px 0 1.5px;
    display: inline-block
    
}

/* images for the Work Area */
.project1{
    background-image: url("./images/disney.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100% ;
}

.project2{
    background-image: url("./images/BabellBrigade.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    }
    
.project3{
        background-image: url("./images/WFP_logo_gray.png.crdownload");
        background-size: contain;
        background-repeat: no-repeat;
    }
    /*image repetitions are intentional   */
.project4{
        background-image: url("./images/twitch\ logo.jpg");
        background-size: contain;
    }
    
    
.project5{
        background-image: url("./images/froggy.png");
        background-size: contain;
    }

/* changes based on web size */

@media screen and (max-width:980px){
    header{
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
    }

    header h1{
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 10vw;
    }

    header nav{
        justify-content: center;
    }

    .section-one > h2,
    .section-one > div{
        flex: 0 0 100%;
    }

    .section-one > h2{
        border-right: none;
        border-bottom: 4px solid var(--main);
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 7vw;
    }
}

@media screen and (max-width: 768px){
    .image,
    .image:first-child{
        flex-basis: 100%;
    }

    .image:first-child{
        min-height: 150px;
    }

    .banner{
        justify-content: center;
        text-align: center;
    }

    .contact div{
        flex-direction: column;
        align-items: flex-start;
    }

}